<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid p-5 mt-5" style="margin-top: 7rem !important;">
			<div class="row">
				<div class="col-md-3 offset-md-5">
					<div class="card card-sh">
						<div class="card-header text-center">
							<p class="fs-4" style="font-weight: bold;">Edit Category</p>
							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form action="/admin/updateCategory" method="post"
								enctype="multipart/form-data">

								<input type="hidden" name="id" th:value="${category.id}">
								<div class="mb-3">
									<label>Enter Category</label> <input type="text" name="name"
										th:value="${category.name}" class="form-control">
								</div>

								<div class="mb-3">
									<label>Status</label>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="isActive"
											id="flexRadioDefault1" value="true"
											th:checked="${category.isActive==true}"> <label
											class="form-check-label" for="flexRadioDefault1">
											Active </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="isActive"
											id="flexRadioDefault2" value="false"
											th:checked="${category.isActive==false}"> <label
											class="form-check-label" for="flexRadioDefault2">
											InActive </label>
									</div>
								</div>
								<div class="mb-3">
									<label>Upload Image</label> <input type="file" name="file"
										class="form-control">
								</div>
								<img th:src="@{'/img/category/'+${category.imageName}}"
									width="100px" height="80px">
								<button class="btn pink col-md-12">Update</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>