<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="conatiner p-5">
			<p class="text-center fs-3 mt-4">Admin Dashboard</p>
			<div class="row p-5">
				<div class="col-md-4 mt-2">
					<a href="loadAddProduct" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center font-color">
								<i class="fa-solid fa-square-plus fa-3x "></i>
								<h4 class="font-color">Add Product</h4>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-2">
					<a href="category" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center font-color">
								<i class="fa-solid fa-list fa-3x"></i>
								<h4 class="font-color">Add Category</h4>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-2">
					<a href="viewProducts" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center font-color">
								<i class="fa-solid fa-table fa-3x"></i>
								<h4 class="font-color">View Product</h4>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-2">
					<a href="/admin/orders" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center font-color">
								<i class="fa-solid fa-box-open fa-3x"></i>
								<h4 class="font-color">Orders</h4>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-2">
					<a href="/admin/users" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center font-color">
								<i class="fa-solid fa-circle-user fa-3x"></i>
								<h4 class="font-color">Users</h4>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-2">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center font-color">
								<i class="fa-solid fa-user-plus fa-3x"></i>
								<h4 class="font-color">Add Admin</h4>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>