<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5" style="margin-top: 7rem !important;">
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">Users</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Sl No</th>
									<th scope="col">Profile</th>
									<th scope="col">Name</th>
									<th scope="col">Email</th>
									<th scope="col">Mobile No</th>
									<th scope="col">Address</th>
									<th scope="col">Status</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="p,c:${users}">
									<th scope="row">[[${c.count}]]</th>
									<td><img th:src="@{'/img/profile_img/'+${p.image}}"
										width="50px" height="50px"></td>
									<td>[[${p.name}]]</td>
									<td>[[${p.email}]]</td>
									<td>[[${p.mobileNo}]]</td>
									<td>[[${p.address+','+p.city+','+p.state+','+p.pinCode}]]</td>
									<td>[[${p.isEnable}]]</td>
									<td><a th:href="@{'/admin/updateStatus?status=true&id='+${p.id}}"
										class="btn btn-primary btn-sm"></i>Active</a> 
											
											<a
										th:href="@{'/admin/updateStatus?status=false&id='+${p.id}}"
										class="btn btn-danger btn-sm"></i>Inactive</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>