<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="container mt-2 p-5" style="margin-top: 6rem !important;">
			<div class="row">
				<p class="text-center fs-3">My Orders</p>
				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<div class="col-md-12"></div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Product Image</th>
							<th scope="col">Order Id</th>
							<th scope="col">Date</th>
							<th scope="col">Product Details</th>
							<th scope="col">Quantity</th>
							<th scope="col">Price</th>
							<th scope="col">Payment Type</th>
							<th scope="col">Status</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="o:${orders}">
							<td><img th:src="@{'/img/product_img/'+${o.product.image}}"
								width="50px" height="50px"></td>
							<th>[[${o.orderId}]]</th>
							<td>[[${o.orderDate}]]</td>
							<td>[[${o.product.title}]]</td>
							<td>[[${o.quantity}]]</td>
							<td>[[${o.price}]] * [[${o.quantity}]] = [[${o.price} *
								${o.quantity}]]</td>
							<td>[[${o.paymentType}]]</td>
							<td>[[${o.status}]]</td>
							<td><th:block th:if="${o.status!='Cancelled'}">
									<a th:href="@{'/user/update-status?id='+${o.id}+'&st=6'}"
										class="btn btn-sm btn-danger">Cancel</a>
								</th:block>
							<th:block th:unless="${o.status!='Cancelled'}">
									<a href="#"
										class="btn btn-sm btn-danger disabled">Cancel</a>
								</th:block></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>