<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-4 p-5" style="margin-top: 4rem !important;">
			<div class="row">
				<div class="col-md-6 mt-2 p-5">
					<img src="img/sss(1).jpg" width="100%" height="400px">
				</div>
				<div class="col-md-6 mt-2 p-5">
					<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header">
							<p class="fs-4 text-center" style="font-weight: bold;">Login</p>
							<div th:if="${param.error}" class="alert alert-danger text-center">
								[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>
							<div th:if="${param.logout}" class="alert alert-success">
								Logout Successfully</div>
						</div>
						<div class="card-body">
							<form action="/login" method="post">
								<div class="mb-3">
									<label class="form-label">Email</label> <input
										class="form-control" name="username" type="email">
								</div>
								<div class="mb-3">
									<label class="form-label">Password</label> <input
										class="form-control" name="password" type="password">
								</div>

								<button style="background-color: #ff4081;" type="submit"
									class="btn text-white col-md-12">Login</button>
							</form>
						</div>
						<div class="card-footer text-center">
							<a href="/forget_password" class="text-decoration-none">Forget Password</a><br>Don't
							have an account ? <a href="/register">Create new</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>